body{
    background-image: url("./clock.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: System-ui;
    
    color: white;
}
div{
    font-size: 300px;

}
strong{
    font-size: 12px;
    color: white;
}